<h2>Welcome home! I wanted to keep this relatively simple, so this is my "h6" heading.</h2>
<p title="I decided to add a tooltip.">I would continue to go on about something in a paragraph but as the heading said,  <b><u>simple</u></b>.</p>
<p>
  <sub>Find more information about</sub> HTML5 <sup>and</sup> XHMTL <sub>by clicking</sub> 
  <a href="https://www.w3schools.com/html/default.asp"><b>HERE</b></a>
</p>
<hr />
<ul title="This is an unordered list">
  <li>Something</li>
  <li>Something Else</li>
  <li>Another thing</li>
</ul>
<%= link_to 'About', welcome_about_path %>
